@model LxGreg.Models.Stock

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.store.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.unit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.unit.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.asset)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.asset.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentQuntity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentQuntity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
