@model IEnumerable<LxGreg.Models.Stock>

@{
    ViewData["Title"] = "库存管理";
}

    <h2>库存管理</h2>

<p>
    <a asp-controller="Orders" asp-action="Create" class="btn btn-success">新增入库</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.store.StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unit.UnitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.asset.ItemNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.asset.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.asset.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentQuntity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(c=>c.storeId).OrderBy(c=>c.assetId)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.store.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unit.UnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.asset.ItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.asset.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.asset.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentQuntity)
            </td>
            <td>
                <a asp-controller="Orders" asp-action="Create" class="btn btn-success" asp-route-id="@item.id">入库</a>
                <a asp-controller="Orders" asp-action="Create" class="btn btn-success" asp-route-id="@item.id">领用</a>
            </td>
        </tr>
}
    </tbody>
</table>
