@model IEnumerable<LxGreg.Models.Stock>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.asset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentQuntity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.store.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unit.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.asset.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentQuntity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
