@model IEnumerable<LxGreg.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>料号管理</h1>
<p>
    <a asp-action="Create"  id="create" class="btn btn-outline-dark">料号新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemShortNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.store.StoreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemShortNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.store.StoreName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
