@model LxGreg.Models.Order

@{
    #region 准备数据
    //数据准备
    ViewData["Title"] = "下单";
    var stock = ViewBag.stock as LxGreg.Models.Stock;
    //单位
    int unitid = 0;
    //物料编码
    string itemnumber = "";
    //判断是从列表选的还是新增入库
    bool stockhave = false;
    //如果为真，就给单位和物料编码赋值
    if (stock != null)
    {

        stockhave = true;
        itemnumber = stock.itemItemNumber;
        unitid = stock.unitId;
    }
    //取用户名
    var userid = "liuchao";// @User.Identity.Name.Split('\\')[1];
    #endregion
}

<script src="https://unpkg.com/vue/dist/vue.min.js">
    var taker = 'test';
</script>
<h2>新建订单</h2>

<br />
<hr />
<div class="row">
    <div class="col-md-4" id="form">
        <form asp-action="Create">
         <div class="form-group">
                    <label class="control-label">目标物料</label>
                    <input placeholder="未选中目标" class="form-control" />
                </div>
          

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @if (!ViewBag.take)
                {
                    <input type="hidden" asp-for="TakerId" value="@userid" />
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="TakerId" class="control-label">领用人</label>
                        <input placeholder="领用人" id="taker" class="form-control" />
                    </div>

                }
            </div>
            <div class="form-group">
                @if (stockhave)
                {
                    <input asp-for="itemItemNumber" value="@itemnumber" class="form-control" hidden="hidden" />
                }
                else
                { <div class="form-group" id="item">
                        <label asp-for="itemItemNumber" class="control-label">料号</label>
                        <input asp-for="itemItemNumber" id="itemnumber" placeholder="物料编码" class="form-control" />
                    </div>
                }
            </div>
            <div class="form-group">
                @if (stockhave)
                {
                    <input asp-for="unitId" value="@unitid" class="form-control" hidden="hidden" />
                }
                else
                { <div class="form-group" id="item">
                        <label asp-for="unitId" class="control-label">单位</label>
                        <select asp-for="unitId" id="unit" class="form-control" asp-items="ViewBag.unitId"></select>
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" id="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>


            <div class="form-group" hidden="hidden">
                <label asp-for="OperaterId" class="control-label"></label>
                <input asp-for="OperaterId" value="@userid" />
            </div>

            <div class="form-group">
                <input type="submit" value="按回车键下单" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>





<script>
    var take = false;
    var stock = false;
    if ('@ViewBag.take' == 'True') {
        take = true;
    }
    if ('@stockhave' == 'True') {
        stock = true;
    }    
    if (take) {
        document.getElementById('taker').focus()
    } else {
        if (stock) {
            document.getElementById('Quantity').focus();
        } else {
            document.getElementById('itemnumber').focus();
        }
    }
</script>
