@model LxGreg.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Operater)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Operater.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.store.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.unit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.unit.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.asset)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.asset.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quntity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quntity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Taker)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Taker.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
