@model LxGreg.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quntity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quntity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.take)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.take)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unit.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item.ItemNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taker.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operater.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
