@model IEnumerable<LxGreg.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>订单查询</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
             领用
            </th>
            <th>
             物料编码
            </th>
            <th>
              单位
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
              领用人
            </th>
            <th>
           操作人
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.take)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.ItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unit.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taker.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operater.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td></td>
        </tr>
}
    </tbody>
</table>
