@model IEnumerable<LxGreg.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.store.StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unit.UnitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.asset.ItemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quntity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operater.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.store.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unit.UnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.asset.ItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quntity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taker.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                <a asp-action="Edit" asp-route-stockid="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-stockid="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-stockid="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
